.bigcont{
    background-color: rgba(0, 0, 0, 0.568);
    height: 253px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 100px;

}
.cc{
    border-radius: 100px;
    background-color: rgb(0, 77, 176);
    margin-left: 40px;
    border: none;
}
.ph{
    border-radius: 10px;
}
.mini{
    background-color: rgb(60, 63, 65);
    margin-right: 908px;
    padding-bottom: 60px;
    box-shadow: -2px 1px 9px  -2px black; 
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 788px;
}
.siujeti{
    font-size: 10px;
    margin-left: 27px;
}
.sheqmna{
    font-size: 10px;
    margin-left: 35px;
}